



/* div{

    height: 300px;
    width: 300px;
    background-color: aqua;
    background: linear-gradient(to right, red ,blue);
} */
/* 
div{

    height: 500px;
    width: 500px;
    background-image: linear-gradient(red,blue),url(https://m.media-amazon.com/images/I/61qbMx4oXJL._AC_UF1000,1000_QL80_.jpg);
 background-blend-mode: screen;
 background-repeat: no-repeat;
 background-size: cover;

}

h1{
    letter-spacing: 3px;
    text-align: justify;
}

span{
    vertical-align: super;
}

#price{
    text-decoration: line-through;
}

p{
    text-align: justify;
    line-height: 30px;
    text-indent: 5px;
} */

/* a:hover{
    color: orangered;
}

a:active{
    color:yellow
}

a:visited{
    color:black
}

div{
    margin:15px;
   background-color: green;
    height: 200px;
    width: 200px;
    border-radius: 15px 10px 40px 10987654px;


} */

.chess{
    margin: 45px;
    height: 800px;
    width: 800px;
    background-color: black;
}

.chess .row{
    height: 100px;
    width:100%;
    float: left;
}

.chess .col{
    height: 100%;
    width: 100px;
}


.col{
    background-color: white;
}

.black {
    background-color: black;
}