



/* div{

    height: 300px;
    width: 300px;
    background-color: aqua;
    background: linear-gradient(to right, red ,blue);
} */

div{

    height: 500px;
    width: 500px;
    background-image: linear-gradient(red,blue),url(https://m.media-amazon.com/images/I/61qbMx4oXJL._AC_UF1000,1000_QL80_.jpg);
 background-blend-mode: screen;
 background-repeat: no-repeat;
 background-size: cover;

}

h1{
    letter-spacing: 3px;
    text-align: justify;
}

span{
    vertical-align: super;
}

#price{
    text-decoration: line-through;
}

p{
    text-align: justify;
    line-height: 30px;
    text-indent: 5px;
}