/* Font */

@import url("https://fonts.googleapis.com/css2?family=Inder&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Playwrite+NZ+Basic:wght@100..400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inder&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Playwrite+NZ+Basic:wght@100..400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Stack+Sans+Headline:wght@200..700&display=swap");
/* global styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button:hover {
  cursor: pointer;
}

.active {
  color: var(--clr-secondary);
}

/* variables */

:root {
  --clr-very-nav: #323953;
  --mytrans: all 0.3s linear;
  --clr-primary: #24116a;
  --clr-secondary: #3284a9;
}

body {
  font-family: "Inder", sans-serif;
  overflow-x: hidden;
}

/* before navbar */
.very-nav {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(50, 31, 110);
  background-color: var(--clr-very-nav);
  color: #d3d7d8;
  align-items: center;
  height: 2.7rem;
  font-size: 14px;
}

.very-nav-icon {
  width: 1rem;
  height: 1rem;
  overflow: hidden;
  vertical-align: middle;
  transform: scale(1);
  transition: var(--mytrans);
}

.very-nav-p {
  margin-right: 1.7rem;
  margin-left: 0.2rem;
}

.very-nav div,
svg,
p {
  display: inline-block;
}

.very-nav .icons {
  margin-left: 1rem;
}

.very-nav .icons svg {
  margin-left: 0.5rem;
}

.very-nav .icons svg:hover {
  transform: scale(1.1);
}

.very-nav .right {
  cursor: pointer;
}

.very-nav .right p:hover {
  transform: scale(1.03);
  transition: var(--mytrans);
}

/* Nav bar  */

.nav {
  display: flex;
  justify-content: space-evenly;
  color: #d3d7d8;
  align-items: center;
  height: 6rem;
  color: #535458;
  overflow: hidden;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 10;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.nav-icon {
  width: 1.6rem;
  height: 1.6rem;
  overflow: hidden;
  vertical-align: middle;
  transform: scale(1);
  transition: var(--mytrans);
  margin-left: 0.5rem;
}

.nav ul li {
  list-style-type: none;
  display: inline-block;
  margin: auto 1.5rem;
  font-size: 18px;
}

.nav ul li:hover {
  transform: scale(1.1);
  transition: all 0.2s linear;
  cursor: pointer;
}

.nav ul {
  display: inline-block;
}

.nav p {
  margin: auto 1.3rem;
}

.nav .logo img {
  width: 40%;
  vertical-align: middle;
  margin: 0;
  transform: scale(1.1);
}

.nav .logo h2 {
  margin-left: 0;
  display: inline-block;
  font-size: 35px;
  font-weight: 900;
  vertical-align: middle;
  font-family: "Stack Sans Headline", sans-serif;
  color: var(--clr-secondary);
  letter-spacing: 1px;
}

.nav .logo h2 span {
  color: var(--clr-primary);
}

.nav svg {
  fill: #90939f;
  transition: all 0.3s linear;
}

.nav svg:hover {
  transform: scale(1.1);
  fill: black;
}

/* BANNER DIV */

.banner-main {
  position: relative;
}

.banner-main .div1 {
  background-image: radial-gradient(
    circle at 80% 110%,
    #3482a8 20%,
    #24146c 40%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5rem;
  padding-top: 4rem;
  padding-left: 15rem;
  padding-bottom: 5rem;
}

.div1 .img {
  overflow: hidden;
  height: 500px;
  width: 50%;
}

.div1 .img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.div1 .contents {
  color: white;
}

.div1 .contents h1 {
  font-size: 65px;
  max-width: 700px;
  font-weight: 900;
  text-transform: uppercase;
  font-family: "Stack Sans Headline", sans-serif;
  letter-spacing: 3px;
}
.div1 .contents p {
  font-size: 23px;
  max-width: 700px;
  display: block;
  margin-top: 1.2rem;
}

.div1 .contents p span {
  color: #ff9700;
  font-weight: 900;
}

.banner-main .search {
  align-self: flex-end;
  background-color: rgb(255, 255, 255);
  display: block;
  overflow: hidden;
  text-align: center;
  box-sizing: border-box;
  padding: 2rem;
  width: 48%;
  z-index: 10;
  margin: 7rem auto;
  border: 1px solid rgb(177, 173, 173);
}

.banner-main .search p {
  font-size: 20px;
  word-spacing: 3px;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: rgb(90, 90, 90);
}
.banner-main .search .bar input,
.banner-main .search .bar select,
.banner-main .search .bar button {
  display: inline-block;
}

.banner-main .search ul li {
  list-style-type: square;
  display: inline-block;
}

.banner-main .search .bar {
  overflow: hidden;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  height: 3rem;
  width: 80%;
  border-radius: 1.5rem;
  box-sizing: border-box;
  border: 0.8px solid rgb(196, 194, 194);
}

.banner-main .search .bar input {
  overflow: hidden;
  margin-left: 0;
  height: 100%;
  outline: none;
  border: none;
  padding-right: 3rem;
  padding-left: 0.3rem;
  margin-left: 1rem;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1rem;
}
.banner-main .search .bar input:placeholder-shown {
  font-size: 16px;
}

.banner-main .search .bar button {
  font-size: 16px;
  text-align: center;
  outline: none;
  border: none;
  background-color: #1d1465;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin: 0.3rem;
  border-radius: 1.5rem;
  transition: all 0.15s linear;
}

.banner-main .search .bar button:hover {
  background-color: #3075a1;

  transform: scale(1.03);
}

.banner-main .search .bar select {
  background-color: #fff;
  border: none;
  padding: 1rem auto;
  padding-left: 0.5rem;
  font-size: 16px;
  color: rgb(160, 160, 160);
}

.banner-main .search ul li {
  margin-left: 1.5rem;
}

.banner-main .search ul {
  margin-top: 1.5rem;
}

.banner-main .search ul li:nth-child(1) {
  color: #fd9d24;
}

.banner-main .search ul li:nth-child(2) {
  color: #a780ed;
}

.banner-main .search ul li:nth-child(3) {
  color: #26cac9;
}

.banner-main .search ul li:nth-child(4) {
  color: #e5467c;
}

.banner-main .search ul li:nth-child(5) {
  color: #4acd89;
}

.banner-main .search ul li:nth-child(6) {
  color: #7897e9;
}

.features {
  padding: 4rem 10rem;
  background-color: #f8f7fd;
}

.features .head {
  margin-top: 2rem;
}

.features .head h2 {
  font-family: "Stack Sans Headline", sans-serif;
  font-weight: 1000;
  font-size: 30px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  max-width: 450px;
  text-align: center;
  margin: 0 auto;
}
.features .head p {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 1.3rem;
  max-width: 600px;
  color: #7b7a7a;
  font-size: 1.05rem;
}

.features .div2 {
  text-align: center;
  position: relative;
  margin-bottom: 3rem;
  margin-top: 4rem;
}

.features .div2 .content {
  background-color: #fff;
  transition: all 0.3s ease;
  margin-left: 2rem;
  margin-bottom: 2rem;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  padding: 4rem 4rem;
  padding-top: 2rem;
}
.features .div2 .content:hover {
  transform: scale(1.03);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.features .div2 .content h2 {
  color: yellow;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.features .div2 .content .des {
  color: #8d8d8d;
  font-size: 1.05rem;
  max-width: 250px;
  margin-bottom: 2rem;
  display: block;
}

.features .div2 .content h1 {
  font-size: 3rem;
  color: yellow;
  font-weight: 500;
}

.features .div2 .content .dis {
  color: #8d8d8d;
  font-size: 1.05rem;
  display: block;
  margin-bottom: 2rem;
}

.features .div2 .content button {
  border: none;
  outline: none;
  border: 1px solid rgb(161, 161, 161);
  text-transform: uppercase;
  background-color: white;
  padding: 0.8rem 1.7rem;
  border-radius: 20px;
  letter-spacing: 0.08rem;
  font-weight: 700;
  color: rgb(90, 90, 90);
  cursor: pointer;
}

.features .div2 .content button:hover {
  transition: all 0.2s ease;
}

.features .div2 .content .orange {
  color: #fe9600;
}

.features .div2 .content .violet {
  color: #8e53e9;
}

.features .div2 .content .red {
  color: #df5940;
}

.features .div2 .content .sky {
  color: #29a9ff;
}

.features .div2 .content .green {
  color: #4acc86;
}

.features .div2 .content .dblue {
  color: #4777e5;
}
.features .div2 .content .red2 {
  color: #e7447b;
}

.features .div2 .content .green2 {
  color: #29ac60;
}

.features .div2 .content #orange:hover {
  background-color: #fe9600;
  color: white;
  border: none;
}

.features .div2 .content #violet:hover {
  background-color: #8e53e9;
  color: white;
  border: none;
}

.features .div2 .content #red:hover {
  background-color: #df5940;
  color: white;
  border: none;
}

.features .div2 .content #sky:hover {
  background-color: #29a9ff;
  color: white;
  border: none;
}

.features .div2 .content #green:hover {
  background-color: #4acc86;
  color: white;
  border: none;
}
.features .div2 .content #dblue:hover {
  background-color: #4777e5;
  color: white;
  border: none;
}

.features .div2 .content #red2:hover {
  background-color: #e7447b;
  color: white;
  border: none;
}
.features .div2 .content #green2:hover {
  background-color: #29ac60;
  color: white;
  border: none;
}

.div4 {
  color: white;
  padding: 6rem 5rem;
  background-image: linear-gradient(90deg, #25166d, #2c4889);
  padding-left: 25rem;
  position: relative;
  overflow: hidden;
}

.div4 img:nth-child(1) {
  position: absolute;
  right: 0%;
  top: -12%;
  opacity: 0.8;
}
.div4 img:nth-child(2) {
  position: absolute;
  right: 30%;
  bottom: -35%;
  opacity: 0.6;
}

.div4 h1 {
  font-family: "Stack Sans Headline", sans-serif;
  font-family: 900;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
}

.div4 p {
  font-size: 1.2rem;
  max-width: 710px;
  margin-top: 1rem;
  line-height: 2rem;
  display: block;
}

.div4 button {
  padding: 0.8rem 1.8rem;
  border-radius: 1.6rem;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  transition: all 0.25s linear;
  border: none;
  color: #24116a;
  margin-top: 2rem;
}

.div4 button:hover {
  background-color: #fff;
}

.client {
  background-color: #f8f7fd;
  text-align: center;
  padding: 7rem;
}

.client .head h2 {
  font-family: "Stack Sans Headline", sans-serif;
  font-family: 900;
  font-size: 30px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.client .head p {
  margin-top: 1.3rem;
  max-width: 600px;
  color: #7b7a7a;
  font-size: 1.05rem;
}

.client .cards {
  display: flex;

  column-gap: 2.5rem;
  margin: 0 6rem;
  align-items: center;
  justify-self: center;
  height: 100%;
  justify-content: space-between;
}

.client .cards .card {
  padding: 2.5rem;
  text-align: left;
  padding-bottom: 1.5rem;
  transition: all 0.4s ease;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.client .cards .card:hover {
  transform: scale(1.05);
}
.client .cards .card p {
  margin: 0.5rem;
  margin-top: 0;
  max-width: 900px;
  color: #7b7a7a;
  font-size: 1.4rem;
  text-align: center;
}
.client .cards .card .others {
  justify-content: center;
  align-items: center;
  display: flex;
}

.client .cards img:nth-child(1) {
  display: block;
  align-self: center;
  width: 25%;
}

.client .cards .rotate {
  transform: rotate(180deg);
}

.client .cards .profile img:nth-child(1) {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 0.4rem solid #fff;
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border-radius: 50%;
  display: inline-block;
  float: left;
  margin-right: 1rem;
}

.client .cards .card-prev,
.client .cards .card-next {
  transition: all 0.2s linear;
  background-color: #fff;
  height: 3rem;
  width: 3.5rem;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.client .cards .card-prev:hover,
.client .cards .card-next:hover {
  background-color: #43e8e1;
}

.client .cards .card-prev:hover svg,
.client .cards .card-next:hover svg {
  fill: black;
}
.client .cards .card-prev svg,
.client .cards .card-next svg {
  height: 100%;
  width: 60%;
  fill: rgb(171, 171, 171);
  display: inline-block;
  vertical-align: middle;
}

.client .cards .card .profile p {
  color: black;
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}

.client .cards .card .profile span {
  color: grey;
  margin-left: 0.6rem;
}

.very-footer {
  padding: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 4rem;
  position: relative;
}

.very-footer img:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.footer {
  background-color: #1d1465;
  padding: 4rem 23rem;
  padding-bottom: 0;
}

.footer .row1,
.footer .row2,
.footer .row3,
.footer .row4 {
  text-align: left;
  display: flex;
  align-items: start;
  justify-content: space-between;
  column-gap: 5.5rem;
  color: white;
  font-weight: 550;
}

.footer li:hover {
  color: white;
  cursor: pointer;
  transition: all 0.2s linear;
}
.footer li,
.footer p {
  color: #c5c4ca;
  text-transform: capitalize;
  font-size: 1.1rem;
  margin: 0.5rem;
  max-width: 680px;
  line-height: 1.6rem;
}

.footer .row1 p {
  font-size: 1.3rem;
  color: white;
}

.footer .icon {
  width: 2rem;
  height: 2rem;
  overflow: hidden;
  vertical-align: middle;
  transform: scale(1);
  transition: var(--mytrans);
}

.footer hr {
  margin: 3rem;
  width: 100%;
  border: none;
  border-top: 1px solid #3827a9;
  margin: 3rem auto;
}

.footer .last {
  margin-bottom: 1rem;
}

.footer .row2 .content h1,
.footer .row3 h1 {
  font-family: "Stack Sans Headline", sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  text-transform: capitalize;
  letter-spacing: 1px;
  position: relative;
  margin-bottom: 2rem;
}

.footer .row2 .content span {
  display: inline-block;
}
.footer .row2 .content span:nth-child(2) {
  margin-left: 5rem;
}
.footer .row2 .content {
  max-width: 550px;
}

.footer .row2 .content p {
  text-transform: capitalize;
  max-width: 300px;
  display: block;
}

.footer .row2 .content input {
  outline: none;
  border: none;
  background-color: #fff;
  padding: 0.7rem 1rem;
  display: block;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.footer .row2 .content button {
  border: none;
  outline: none;
  background-color: #43e8e1;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-weight: 600;
  padding: 0.8rem 1.5rem;
  transition: all 0.2s linear;
}

.footer .row2 .content button:hover {
  background-color: #1d1465;
  color: white;
  border: 1px solid white;
}

.footer .row2 .content ul,
.footer .row2 .content p {
  margin-top: 3rem;
}
.footer .row2 .content ul li {
  list-style-type: none;
  max-width: 600px;
}

.footer .footer-icon {
  background-color: none;
  border: 1px solid #43e8e1;
  border-radius: 50%;
  padding: 0.6rem;
  width: 2.6rem;
  height: 2.6rem;
  overflow: hidden;
  vertical-align: middle;
  transform: scale(1);
  transition: var(--mytrans);
  margin-left: 0.5rem;
  transition: all 0.3s linear;
}

.footer .row3 svg {
  fill: #43e8e1;
}

.footer .row3 .footer-icon:hover {
  background-color: #43e8e1;
  fill: #1d1465 !important; /* Keep this for the center dot */
}

.footer .icons {
  display: inline-block;
  margin-top: 1rem;
}

.footer .row3 .logo h2 {
  color: #3484a9;
  font-size: 2.4rem;
  font-family: "Stack Sans Headline", sans-serif;
}

.footer .row3 .logo h2::before {
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  display: inline-block;
  height: 6rem;
  width: 6rem;
  background-image: url("/images/logo.png");
}

.footer .row3 .logo h2 span {
  margin-right: 0.1rem;
  color: white;
}

.row3 div {
  align-self: center;
}

.row4 {
  padding-bottom: 1rem;
  padding-top: 0;
}

.footer h1::after {
  width: 8rem;
  height: 0.1rem;
  background-color: #3727ab;
  display: inline-block;
  content: "";
  position: absolute;
  left: 0;
  top: 150%;
}

.footer h1::before {
  width: 3.5rem;
  height: 0.1rem;
  background-color: #ffffff;
  display: inline-block;
  content: "";
  position: absolute;
  left: 0;
  top: 150%;
  z-index: 2;
}

.footer .row4 .copyright p {
  font-size: 1rem;
}
