/* Font */

@import url("https://fonts.googleapis.com/css2?family=Inder&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Playwrite+NZ+Basic:wght@100..400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inder&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Playwrite+NZ+Basic:wght@100..400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Stack+Sans+Headline:wght@200..700&display=swap");
/* global styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button:hover {
  cursor: pointer;
}

.active {
  color: var(--clr-secondary);
}

/* variables */

:root {
  --clr-very-nav: #323953;
  --mytrans: all 0.3s linear;
  --clr-primary: #24116a;
  --clr-secondary: #3284a9;
}

body {
  font-family: "Inder", sans-serif;
  overflow-x: hidden;
}

/* before navbar */
.very-nav {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(50, 31, 110);
  background-color: var(--clr-very-nav);
  color: #d3d7d8;
  align-items: center;
  height: 2.7rem;
  font-size: 14px;
}

.very-nav-icon {
  width: 1rem;
  height: 1rem;
  overflow: hidden;
  vertical-align: middle;
  transform: scale(1);
  transition: var(--mytrans);
}

.very-nav-p {
  margin-right: 1.7rem;
  margin-left: 0.2rem;
}

.very-nav div,
svg,
p {
  display: inline-block;
}

.very-nav .icons {
  margin-left: 1rem;
}

.very-nav .icons svg {
  margin-left: 0.5rem;
}

.very-nav .icons svg:hover {
  transform: scale(1.1);
}

.very-nav .right {
  cursor: pointer;
}

.very-nav .right p:hover {
  transform: scale(1.03);
  transition: var(--mytrans);
}

/* Nav bar  */

.nav {
  display: flex;
  justify-content: space-evenly;
  color: #d3d7d8;
  align-items: center;
  height: 6rem;
  color: #535458;
  overflow: hidden;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 10;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.nav-icon {
  width: 1.6rem;
  height: 1.6rem;
  overflow: hidden;
  vertical-align: middle;
  transform: scale(1);
  transition: var(--mytrans);
  margin-left: 0.5rem;
}

.nav ul li {
  list-style-type: none;
  display: inline-block;
  margin: auto 1.5rem;
  font-size: 18px;
}

.nav ul li:hover {
  transform: scale(1.1);
  transition: all 0.2s linear;
  cursor: pointer;
}

.nav ul {
  display: inline-block;
}

.nav p {
  margin: auto 1.3rem;
}

.nav .logo img {
  width: 40%;
  vertical-align: middle;
  margin: 0;
  transform: scale(1.1);
}

.nav .logo h2 {
  margin-left: 0;
  display: inline-block;
  font-size: 35px;
  font-weight: 900;
  vertical-align: middle;
  font-family: "Stack Sans Headline", sans-serif;
  color: var(--clr-secondary);
  letter-spacing: 1px;
}

.nav .logo h2 span {
  color: var(--clr-primary);
}

.nav svg {
  fill: #90939f;
  transition: all 0.3s linear;
}

.nav svg:hover {
  transform: scale(1.1);
  fill: black;
}

/* BANNER DIV */

.banner-main {
  position: relative;
}

.banner-main .div1 {
  background-image: radial-gradient(
    circle at 80% 110%,
    #3482a8 20%,
    #24146c 40%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5rem;
  padding-top: 4rem;
  padding-left: 15rem;
  padding-bottom: 5rem;
}

.div1 .img {
  overflow: hidden;
  height: 500px;
  width: 50%;
}

.div1 .img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.div1 .contents {
  color: white;
}

.div1 .contents h1 {
  font-size: 65px;
  max-width: 700px;
  font-weight: 900;
  text-transform: uppercase;
  font-family: "Stack Sans Headline", sans-serif;
  letter-spacing: 3px;
}
.div1 .contents p {
  font-size: 23px;
  max-width: 700px;
  display: block;
  margin-top: 1.2rem;
}

.div1 .contents p span {
  color: #ff9700;
  font-weight: 900;
}

.features {
  padding: 4rem 10rem;
  background-color: white;
}

.features .head {
  text-align: center;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 8rem;
}

.features .head button {
  padding: 0.6rem 3rem;
  background-color: transparent;
  border: none;
  outline: none;
  border: 1px solid grey;
  font-size: 18px;
  font-weight: 600;
  color: grey;
}

.features .head p {
  font-weight: 700;
}
.features .head button span {
  font-size: 1.5rem;
}

.features .head p span {
  border: 1px solid grey;
  padding: 0.1rem;
  height: 100%;
  width: 100%;
  margin-left: 0.5rem;
}

.features .head p span svg {
  vertical-align: middle;
  fill: grey;
  height: 100%;
  margin-bottom: 0.2rem;
}

.features .head h2 {
  font-family: "Stack Sans Headline", sans-serif;
  font-weight: 500;
  font-size: 25px;
  letter-spacing: 1.5px;
  color: grey;

  text-align: center;
  margin: 0 auto;
}
.features .head p {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 1.3rem;
  max-width: 600px;
  color: #7b7a7a;
  font-size: 1.05rem;
}

.div2 {
  display: flex;
}

.div2 p {
  color: grey;
}
.div2 .sidebar h3 {
  color: rgb(36, 36, 36);
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.div2 .sidebar {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: left;
  row-gap: 2rem;
  flex-grow: 1;
  margin-left: 0;
}

.div2 .sidebar ul li {
  list-style-type: none;
  color: grey;
}

.div2 .sidebar .price .bar {
  height: 1px;
  width: 90%;
  border-top: 1px solid blue;
  margin: 1rem auto;
  margin-top: 1.5rem;
}
.div2 .sidebar .price span {
  color: rgb(84, 84, 84);
}

.div2 .sidebar .category ul li {
  margin-bottom: 0.55rem;
  position: relative;
}

.div2 .sidebar .category ul li span {
  position: absolute;
  right: 0;
}

.div2 .sidebar .products h3 {
  margin-bottom: 1rem;
}
.div2 .sidebar .products .product {
  display: inline-block;

  margin-bottom: 1rem;
}
.div2 .sidebar .products .product img {
  float: left;
  width: 30%;

  margin-right: 1.5rem;
}

.div2 .sidebar .products .product p {
  display: block;
}
.div2 .sidebar .products .product p:nth-last-child(2) {
  width: 150%;
  margin-top: 1rem;
  font-weight: 600;
  color: rgb(70, 70, 70);
  margin-bottom: 0.5rem;
}

.div2 .sidebar .tags ul li {
  display: inline-block;
  border: 1px solid grey;
  padding: 0.3rem 1rem;
  margin-left: 0.2rem;
  margin-bottom: 0.5rem;
  transition: all 0.2s ease;
}
.div2 .sidebar .tags ul li:hover {
  background-color: #1d1465;
  color: white;
  font-weight: 600;
  cursor: pointer;
  border: none;
}

.features .page {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
}

.features .page a {
  transition: all 0.2s ease;
  font-weight: 700;
  height: 2rem;
  width: 2rem;
  text-decoration: none;
  background-color: rgb(237, 237, 237);
  color: #4e4e4e;
  border-radius: 50%;
  line-height: 2rem;
  text-align: center;
}
.features .page a:hover {
  background-color: #1f1462;
  color: white;
}

.features .page a:nth-last-child(1) {
  background-color: transparent;
}

.features .div2 {
  text-align: center;
  position: relative;
  margin-bottom: 3rem;
  margin-top: 4rem;
  padding: 0 10rem;
  margin-top: 6rem;
}

.features .div2 .content {
  background-color: transparent;
  transition: all 0.3s ease;
  margin-left: 2rem;
  margin-bottom: 4rem;
  display: inline-block;
  text-align: center;
  overflow: hidden;
}

.features .div2 .content .img {
  height: 250px;
  width: 220px;
  background-color: #f6f6f6;
  margin-bottom: 1rem;
}

.features .div2 .content img {
  padding: 2rem;
  width: 200px;
}

.features .div2 .content p {
  color: #717171;
  font-size: 1.2rem;
  font-weight: 700;
  display: block;
  margin: 0.8rem auto;
}

.features .div2 .content p:nth-last-child(1) {
  font-size: 1rem;
  color: black;
}
.footer {
  background-color: #1d1465;
  padding: 4rem 23rem;
  padding-bottom: 0;
}

.footer .row1,
.footer .row2,
.footer .row3,
.footer .row4 {
  text-align: left;
  display: flex;
  align-items: start;
  justify-content: space-between;
  column-gap: 5.5rem;
  color: white;
  font-weight: 550;
}

.footer li:hover {
  color: white;
  cursor: pointer;
  transition: all 0.2s linear;
}
.footer li,
.footer p {
  color: #c5c4ca;
  text-transform: capitalize;
  font-size: 1.1rem;
  margin: 0.5rem;
  max-width: 680px;
  line-height: 1.6rem;
}

.footer .row1 p {
  font-size: 1.3rem;
  color: white;
}

.footer .icon {
  width: 2rem;
  height: 2rem;
  overflow: hidden;
  vertical-align: middle;
  transform: scale(1);
  transition: var(--mytrans);
}

.footer hr {
  margin: 3rem;
  width: 100%;
  border: none;
  border-top: 1px solid #3827a9;
  margin: 3rem auto;
}

.footer .last {
  margin-bottom: 1rem;
}

.footer .row2 .content h1,
.footer .row3 h1 {
  font-family: "Stack Sans Headline", sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  text-transform: capitalize;
  letter-spacing: 1px;
  position: relative;
  margin-bottom: 2rem;
}

.footer .row2 .content span {
  display: inline-block;
}
.footer .row2 .content span:nth-child(2) {
  margin-left: 5rem;
}
.footer .row2 .content {
  max-width: 550px;
}

.footer .row2 .content p {
  text-transform: capitalize;
  max-width: 300px;
  display: block;
}

.footer .row2 .content input {
  outline: none;
  border: none;
  background-color: #fff;
  padding: 0.7rem 1rem;
  display: block;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.footer .row2 .content button {
  border: none;
  outline: none;
  background-color: #43e8e1;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-weight: 600;
  padding: 0.8rem 1.5rem;
  transition: all 0.2s linear;
}

.footer .row2 .content button:hover {
  background-color: #1d1465;
  color: white;
  border: 1px solid white;
}

.footer .row2 .content ul,
.footer .row2 .content p {
  margin-top: 3rem;
}
.footer .row2 .content ul li {
  list-style-type: none;
  max-width: 600px;
}

.footer .footer-icon {
  background-color: none;
  border: 1px solid #43e8e1;
  border-radius: 50%;
  padding: 0.6rem;
  width: 2.6rem;
  height: 2.6rem;
  overflow: hidden;
  vertical-align: middle;
  transform: scale(1);
  transition: var(--mytrans);
  margin-left: 0.5rem;
  transition: all 0.3s linear;
}

.footer .row3 svg {
  fill: #43e8e1;
}

.footer .row3 .footer-icon:hover {
  background-color: #43e8e1;
  fill: #1d1465 !important; /* Keep this for the center dot */
}

.footer .icons {
  display: inline-block;
  margin-top: 1rem;
}

.footer .row3 .logo h2 {
  color: #3484a9;
  font-size: 2.4rem;
  font-family: "Stack Sans Headline", sans-serif;
}

.footer .row3 .logo h2::before {
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  display: inline-block;
  height: 6rem;
  width: 6rem;
  background-image: url("/images/logo.png");
}

.footer .row3 .logo h2 span {
  margin-right: 0.1rem;
  color: white;
}

.row3 div {
  align-self: center;
}

.row4 {
  padding-bottom: 1rem;
  padding-top: 0;
}

.footer h1::after {
  width: 8rem;
  height: 0.1rem;
  background-color: #3727ab;
  display: inline-block;
  content: "";
  position: absolute;
  left: 0;
  top: 150%;
}

.footer h1::before {
  width: 3.5rem;
  height: 0.1rem;
  background-color: #ffffff;
  display: inline-block;
  content: "";
  position: absolute;
  left: 0;
  top: 150%;
  z-index: 2;
}

.footer .row4 .copyright p {
  font-size: 1rem;
}
