/* Font */

@import url("https://fonts.googleapis.com/css2?family=Inder&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Playwrite+NZ+Basic:wght@100..400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inder&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Playwrite+NZ+Basic:wght@100..400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Stack+Sans+Headline:wght@200..700&display=swap");
/* global styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button:hover {
  cursor: pointer;
}

.active {
  color: var(--clr-secondary);
}

/* variables */

:root {
  --clr-very-nav: #323953;
  --mytrans: all 0.3s linear;
  --clr-primary: #24116a;
  --clr-secondary: #3284a9;
}

body {
  font-family: "Inder", sans-serif;
  overflow-x: hidden;
}

/* before navbar */
.very-nav {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(50, 31, 110);
  background-color: var(--clr-very-nav);
  color: #d3d7d8;
  align-items: center;
  height: 2.7rem;
  font-size: 14px;
}

.very-nav-icon {
  width: 1rem;
  height: 1rem;
  overflow: hidden;
  vertical-align: middle;
  transform: scale(1);
  transition: var(--mytrans);
}

.very-nav-p {
  margin-right: 1.7rem;
  margin-left: 0.2rem;
}

.very-nav div,
svg,
p {
  display: inline-block;
}

.very-nav .icons {
  margin-left: 1rem;
}

.very-nav .icons svg {
  margin-left: 0.5rem;
}

.very-nav .icons svg:hover {
  transform: scale(1.1);
}

.very-nav .right {
  cursor: pointer;
}

.very-nav .right p:hover {
  transform: scale(1.03);
  transition: var(--mytrans);
}

/* Nav bar  */

.nav {
  display: flex;
  justify-content: space-evenly;
  color: #d3d7d8;
  align-items: center;
  height: 6rem;
  color: #535458;
  overflow: hidden;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 10;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.nav-icon {
  width: 1.6rem;
  height: 1.6rem;
  overflow: hidden;
  vertical-align: middle;
  transform: scale(1);
  transition: var(--mytrans);
  margin-left: 0.5rem;
}

.nav ul li {
  list-style-type: none;
  display: inline-block;
  margin: auto 1.5rem;
  font-size: 18px;
}

.nav ul li:hover {
  transform: scale(1.1);
  transition: all 0.2s linear;
  cursor: pointer;
}

.nav ul {
  display: inline-block;
}

.nav p {
  margin: auto 1.3rem;
}

.nav .logo img {
  width: 40%;
  vertical-align: middle;
  margin: 0;
  transform: scale(1.1);
}

.nav .logo h2 {
  margin-left: 0;
  display: inline-block;
  font-size: 35px;
  font-weight: 900;
  vertical-align: middle;
  font-family: "Stack Sans Headline", sans-serif;
  color: var(--clr-secondary);
  letter-spacing: 1px;
}

.nav .logo h2 span {
  color: var(--clr-primary);
}

.nav svg {
  fill: #90939f;
  transition: all 0.3s linear;
}

.nav svg:hover {
  transform: scale(1.1);
  fill: black;
}

/* BANNER DIV */

.banner-main {
  position: relative;
}

.banner-main .div1 {
  background-image: radial-gradient(
    circle at 80% 110%,
    #3482a8 20%,
    #24146c 40%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5rem;
  padding-top: 4rem;
  padding-left: 15rem;
  padding-bottom: 5rem;
}

.div1 .img {
  overflow: hidden;
  height: 500px;
  width: 50%;
}

.div1 .img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.div1 .contents {
  color: white;
}

.div1 .contents h1 {
  font-size: 65px;
  max-width: 700px;
  font-weight: 900;
  text-transform: uppercase;
  font-family: "Stack Sans Headline", sans-serif;
  letter-spacing: 3px;
}
.div1 .contents p {
  font-size: 23px;
  max-width: 700px;
  display: block;
  margin-top: 1.2rem;
}

.div1 .contents p span {
  color: #ff9700;
  font-weight: 900;
}

.banner-main .search {
  align-self: flex-end;
  background-color: rgb(255, 255, 255);
  display: block;
  overflow: hidden;
  text-align: center;
  box-sizing: border-box;
  padding: 2rem;
  width: 48%;
  z-index: 10;
  margin: 5rem auto;
  margin-top: 4rem;
}

.banner-main .search p {
  font-size: 25px;
  word-spacing: 3px;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: rgb(61, 61, 61);
}
.banner-main .search .bar input,
.banner-main .search .bar select,
.banner-main .search .bar button {
  display: inline-block;
}

.banner-main .search .bar {
  box-shadow: rgba(61, 61, 61, 0.35) 0px 5px 15px;
  overflow: hidden;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  height: 3rem;
  width: 90%;
  border-radius: 2rem;
  box-sizing: content-box;
  padding: 0.5rem;
}

.banner-main .search .bar input {
  overflow: hidden;
  margin-left: 0;
  height: 100%;
  outline: none;
  border: none;
  padding-right: 3rem;
  padding-left: 0.3rem;
  margin-left: 1rem;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1rem;
}
.banner-main .search .bar input:placeholder-shown {
  font-size: 16px;
}

.banner-main .search .bar button {
  font-size: 16px;
  text-align: center;
  outline: none;
  border: none;
  background-color: #1d1465;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  padding-top: 0.7rem;
  padding-bottom: 0.5rem;
  padding-right: 1.8rem;
  padding-left: 1.8rem;
  margin: 0.1rem;
  border-radius: 1.5rem;
  transition: all 0.15s linear;
}

.banner-main .search .bar button:hover {
  background-color: #3075a1;

  transform: scale(1.03);
}

.banner-main .search .bar select {
  background-color: #fff;
  border: none;
  padding: 1rem auto;
  padding-left: 0.5rem;
  font-size: 16px;
  color: rgb(160, 160, 160);
}

.banner-main .search .promo-code {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
}
.banner-main .search .promo-code p {
  font-size: 1rem;
  color: grey;
}

.banner-main .search .promo-code input {
  height: 3rem;
  width: 15rem;
  padding: 1rem;
  outline: none;
  border: 1px solid rgb(200, 199, 199);
}

.banner-main .search .promo-code button {
  border: none;
  outline: none;
  color: white;
  font-weight: 600;
  background-color: #3484a9;
  padding: 0.75rem 1.8rem;
  text-transform: uppercase;
  transition: all 0.2s ease;
}
.banner-main .search .promo-code button:hover {
  background-color: #136e98;
}

.banner-main .content {
  text-align: left;
  margin: 0 auto;
  padding: 0 20%;
  padding-bottom: 5rem;
}

.banner-main .content h2 {
  font-size: 1.8rem;
  margin-bottom: 1.7rem;
}

.banner-main .content p {
  font-size: 1.05rem;
  margin-bottom: 1.7rem;
  color: #7b7a7a;
  word-spacing: 0.3rem;
  line-height: 1.8rem;
}

.banner-main .content button {
  outline: none;
  border: none;
  padding: 0.8rem 2rem;
  background-color: #1d1465;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  transition: all 0.2s ease;
}
.banner-main .content button:hover {
  background-color: #2e2289;
}

.support {
  margin-left: 17%;
  margin-right: 17%;
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.support .qa {
  margin: 1rem;
  margin-bottom: 2rem;
}

.support .qa h1 {
  font-family: "Stack Sans Headline", sans-serif;
  text-transform: uppercase;
  font-size: 1.9rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  margin-bottom: 1rem;
}

.support .qa p {
  color: rgb(113, 112, 112);
  word-spacing: 0.2rem;
  font-size: 1.05rem;
  line-height: 1.7rem;
}

.support .flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.div4 {
  color: white;
  padding: 6rem 5rem;
  background-image: linear-gradient(90deg, #25166d, #2c4889);
  padding-left: 25rem;
  position: relative;
  overflow: hidden;
}

.div4 img:nth-child(1) {
  position: absolute;
  right: 0%;
  top: -12%;
  opacity: 0.8;
}
.div4 img:nth-child(2) {
  position: absolute;
  right: 30%;
  bottom: -35%;
  opacity: 0.6;
}

.div4 h1 {
  font-family: "Stack Sans Headline", sans-serif;
  font-family: 900;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
}

.div4 p {
  font-size: 1.2rem;
  max-width: 710px;
  margin-top: 1rem;
  line-height: 2rem;
  display: block;
}

.div4 button {
  padding: 0.8rem 1.8rem;
  border-radius: 1.6rem;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  transition: all 0.25s linear;
  border: none;
  color: #24116a;
  margin-top: 2rem;
}

.div4 button:hover {
  background-color: #fff;
}

.very-footer {
  padding: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 4rem;
  position: relative;
}

.very-footer img:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.footer {
  background-color: #1d1465;
  padding: 4rem 23rem;
  padding-bottom: 0;
}

.footer .row1,
.footer .row2,
.footer .row3,
.footer .row4 {
  text-align: left;
  display: flex;
  align-items: start;
  justify-content: space-between;
  column-gap: 5.5rem;
  color: white;
  font-weight: 550;
}

.footer li:hover {
  color: white;
  cursor: pointer;
  transition: all 0.2s linear;
}
.footer li,
.footer p {
  color: #c5c4ca;
  text-transform: capitalize;
  font-size: 1.1rem;
  margin: 0.5rem;
  max-width: 680px;
  line-height: 1.6rem;
}

.footer .row1 p {
  font-size: 1.3rem;
  color: white;
}

.footer .icon {
  width: 2rem;
  height: 2rem;
  overflow: hidden;
  vertical-align: middle;
  transform: scale(1);
  transition: var(--mytrans);
}

.footer hr {
  margin: 3rem;
  width: 100%;
  border: none;
  border-top: 1px solid #3827a9;
  margin: 3rem auto;
}

.footer .last {
  margin-bottom: 1rem;
}

.footer .row2 .content h1,
.footer .row3 h1 {
  font-family: "Stack Sans Headline", sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  text-transform: capitalize;
  letter-spacing: 1px;
  position: relative;
  margin-bottom: 2rem;
}

.footer .row2 .content span {
  display: inline-block;
}
.footer .row2 .content span:nth-child(2) {
  margin-left: 5rem;
}
.footer .row2 .content {
  max-width: 550px;
}

.footer .row2 .content p {
  text-transform: capitalize;
  max-width: 300px;
  display: block;
}

.footer .row2 .content input {
  outline: none;
  border: none;
  background-color: #fff;
  padding: 0.7rem 1rem;
  display: block;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.footer .row2 .content button {
  border: none;
  outline: none;
  background-color: #43e8e1;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-weight: 600;
  padding: 0.8rem 1.5rem;
  transition: all 0.2s linear;
}

.footer .row2 .content button:hover {
  background-color: #1d1465;
  color: white;
  border: 1px solid white;
}

.footer .row2 .content ul,
.footer .row2 .content p {
  margin-top: 3rem;
}
.footer .row2 .content ul li {
  list-style-type: none;
  max-width: 600px;
}

.footer .footer-icon {
  background-color: none;
  border: 1px solid #43e8e1;
  border-radius: 50%;
  padding: 0.6rem;
  width: 2.6rem;
  height: 2.6rem;
  overflow: hidden;
  vertical-align: middle;
  transform: scale(1);
  transition: var(--mytrans);
  margin-left: 0.5rem;
  transition: all 0.3s linear;
}

.footer .row3 svg {
  fill: #43e8e1;
}

.footer .row3 .footer-icon:hover {
  background-color: #43e8e1;
  fill: #1d1465 !important; /* Keep this for the center dot */
}

.footer .icons {
  display: inline-block;
  margin-top: 1rem;
}

.footer .row3 .logo h2 {
  color: #3484a9;
  font-size: 2.4rem;
  font-family: "Stack Sans Headline", sans-serif;
}

.footer .row3 .logo h2::before {
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  display: inline-block;
  height: 6rem;
  width: 6rem;
  background-image: url("/images/logo.png");
}

.footer .row3 .logo h2 span {
  margin-right: 0.1rem;
  color: white;
}

.row3 div {
  align-self: center;
}

.row4 {
  padding-bottom: 1rem;
  padding-top: 0;
}

.footer h1::after {
  width: 8rem;
  height: 0.1rem;
  background-color: #3727ab;
  display: inline-block;
  content: "";
  position: absolute;
  left: 0;
  top: 150%;
}

.footer h1::before {
  width: 3.5rem;
  height: 0.1rem;
  background-color: #ffffff;
  display: inline-block;
  content: "";
  position: absolute;
  left: 0;
  top: 150%;
  z-index: 2;
}

.footer .row4 .copyright p {
  font-size: 1rem;
}
